.nav-main ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.nav-main a:hover, .nav-main a:focus {
  text-decoration: none;
  color: #fff; }

body {
  padding: 0;
  margin: 0; }

body, html {
  margin: 0;
  font: 1em "Open Sans", sans-serif; }

.nav-main {
  width: 100%;
  background-color: #111;
  color: #fff;
  height: 70px; }
  .nav-main .logo {
    float: left;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px; }
  .nav-main > ul {
    float: left; }
    .nav-main > ul > li {
      float: left;
      position: relative; }
      .nav-main > ul > li:hover > .sub-nav {
        visibility: visible;
        opacity: 1;
        z-index: 1; }

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  line-height: 40px;
  color: #fff;
  text-decoration: none; }
  .nav-item:hover {
    background-color: #0000FF;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in; }

.sub-nav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100;
  width: auto;
  background-color: #111; }
  .sub-nav > li {
    white-space: nowrap; }
  .sub-nav a {
    padding: 10px;
    display: block; }
    .sub-nav a:hover {
      background-color: #0000FF; }

.dropdown {
  display: inline-block;
  margin: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; }

.nav-active-item {
  background-color: #0000CC;
  color: #fff; }
